<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title">Create a Milestone for <%= @project.name %></h4>
  </div>
  <div class="panel-body">
  <%= simple_form_for Milestone.new, url: "/projects/#{@project.id}/milestones", method: :post do |f| %>
    <%= f.input :name, label: "Milestone Name" %>
    <%= f.input :price, label: "Price (in cents)" %>
    <%= f.input :paid, label: "Client has paid?", hint: "Check this if the client has paid. This is automatically set when a client pays through Stripe." %>
    <%= f.input :amount_complete, label: "Amount complete", hint: "How much of the milestone has been completed (between 0 and 100 percent)", as: :integer %>
    <%= f.input :description, as: :text, input_html: { data: { provide: "markdown" } }  %>
    <%= f.input :approved, as: :boolean, label: "Check this box if this milestone was approved by you" %>
    <%= f.input :client_approved, as: :boolean, label: "Check this box if the client approved this milestone" %>
    <%= f.input :update_email_client, as: :boolean, label: "<strong>Email client about this milestone</strong>".html_safe %>
    <%= f.submit "Create Milestone", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>