<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title">Milestone for <%= @milestone.project.name %></h4>
  </div>
  <div class="panel-body">
  <h3><%= @milestone.name %></h3>
  <p><%= @milestone.description %></p>

                    <div class="progress">
                    
                                        <div class="progress-bar" style="width: <%= @milestone.amount_complete %>%">
                                          <span class="" style="margin-left: 5px"><%= @milestone.amount_complete %>% Complete</span>
                                        </div>
                                    </div>

                      <% if @milestone.paid? %>
                        <div class="alert alert-success">This milestone has been paid</div>
                      <% else %>
                        <div class="alert alert-warning">This milestone has not been paid</div>
                      <% end %>

  </div>
</div>