

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Update Account</h4>
  </div>

    <div class="panel-body">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

</div></div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Stripe API Keys</h4>
  </div>

    <div class="panel-body">

<%= simple_form_for current_user, url: "/update_stripe_keys", method: :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :stripe_test_mode, label: "Test Mode", hint: "Use test keys when making transactions.", as: :boolean %>
    <%= f.input :stripe_test_secret_key, label: "Test Secret Key" %>
    <%= f.input :stripe_test_publishable_key, label: "Test Publishable Key" %>

    <%= f.input :stripe_live_secret_key, label: "Live Secret Key" %>
    <%= f.input :stripe_live_publishable_key, label: "Live Publishable Key" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

</div></div>