<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title"><%= @project.name %></h4>
  </div>
  <div class="panel-body">
    <div id="markdown-data"><%= @project.description %></div>
  </div>
</div>

<br><br>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Milestone List</h4>
  </div>

    <div class="panel-body">
      <ul class="media-list media-list-with-divider">

            <% @project.milestones.each do |m| %>
            <li class="media media-sm">
                <div class="media-body">
                    <h4 class="media-heading"><span class="pull-right">Price: $<%= (m.display_price) %></span><%= link_to m.name, "/milestones/#{m.id}" %></h4>
                    <div id="milestone-markdown-data"><%= m.description%></div>
                    <div class="progress">
                    
                                        <div class="progress-bar" style="width: <%= m.amount_complete %>%">
                                          <span class="" style="margin-left: 5px"><%= m.amount_complete %>% Complete</span>
                                        </div>
                                    </div>


                      <% if m.paid? %>
                        <div class="alert alert-success">This milestone has been paid.</div>
                      <% else %>
                      <%= simple_form_for :stripe, url: "/milestones/#{m.id}/mark_as_paid", method: :post do |f| %>
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= current_user.stripe_publishable_key %>"
                            data-name="Freelancedance"
                            data-description="Services to complete milestone"
                            data-amount="<%= m.price %>"
                            data-locale="auto">
                        </script>
                      <% end %>
                      <% end %>
                </div>
            </li>

            <% end %>
      </ul>
    </div>
  </div>