<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title">Edit Project</h4>
  </div>
  <div class="panel-body">
  <%= simple_form_for @project do |f| %>
    <%= f.input :name, label: "Project Name" %>
    <%= f.input :client_email, label: "Client Email" %>
    <%= f.input :description, as: :text, input_html: { data: { provide: "markdown" } }  %>
    <%= f.submit "Update Project", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>