<%= link_to "New Project", "/projects/new", class: "btn btn-primary", style:"color:#fff", data: { turbolinks: "false" } %>

<br><br>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Project List</h4>
  </div>

    <div class="panel-body">
      <ul class="media-list media-list-with-divider">

            <% current_user.projects.each do |p| %>
            <li class="media media-sm">
                <div class="media-body">
                    <h4 class="media-heading"><%= link_to p.name, "/projects/#{p.id}" %></h4>
                    <p><%= p.description %></p>
                </div>
            </li>

            <% end %>

      </ul>
    </div>
  </div>