<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title">Create a Project</h4>
  </div>
  <div class="panel-body">
  <%= simple_form_for Project.new do |f| %>
    <%= f.input :name, label: "Project Name" %>
    <%= f.input :client_email, label: "Client's Email" %>
    <%= f.input :description, as: :text, input_html: { data: { provide: "markdown" } } %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>