<% if (current_user.projects.include?(@project)) %>
<%= link_to "Edit Project", "/projects/#{@project.id}/edit", class: "btn btn-primary", style:"color:#fff", data: { turbolinks: "false" } %>
<br><br>
<% end %>

<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title"><%= @project.name %></h4>
  </div>
  <div class="panel-body">
    <div id="markdown-data"><%= @project.description %></div>
  </div>
</div>

<div class="panel panel-inverse" >
  <div class="panel-heading">
    <h4 class="panel-title">Client Link</h4>
  </div>
  <div class="panel-body">
    <div id="markdown-data"><%= ENV['ROOT_URL'] %>/clients/<%= @project.client_token %></div>
  </div>
</div>

<%= link_to "New Milestone", "/projects/#{@project.id}/milestones/new", class: "btn btn-primary", data: { turbolinks: "false" } %>

<br><br>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Milestone List</h4>
  </div>

    <div class="panel-body">
      <ul class="media-list media-list-with-divider">

            <% @project.milestones.each do |m| %>
            <li class="media media-sm">
                <div class="media-body">
                    <h4 class="media-heading"><span class="pull-right">Price: $<%= (m.price / 100.0) %></span><%= link_to m.name, "/milestones/#{m.id}/edit" %></h4>
                    <div id="milestone-markdown-data"><%= m.description%></div>
                    <br>
                    <div class="progress">
                    
                                        <div class="progress-bar" style="width: <%= m.amount_complete %>%">
                                          <span class="" style="margin-left: 5px"><%= m.amount_complete %>% Complete</span>
                                        </div>
                                    </div>

                      <% if m.paid? %>
                        <div class="alert alert-success">This milestone has been paid</div>
                      <% else %>
                        <div class="alert alert-warning">This milestone has not been paid</div>
                      <% end %>
                </div>
            </li>

            <% end %>
      </ul>
    </div>
  </div>