<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/dbec63c797.js"></script>
  <link href="https://d1u8v6p9hqqst3.cloudfront.net/assets/css/style.min.css" rel="stylesheet" />
  <link href="https://d1u8v6p9hqqst3.cloudfront.net/assets/css/style-responsive.min.css" rel="stylesheet" />
  <link href="https://d1u8v6p9hqqst3.cloudfront.net/assets/css/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN BASE JS ================== -->

  <!-- ================== END BASE JS ================== -->


  <title>Freelancedance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="header" class="header navbar navbar-inverse navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><i class="fa fa-smile-o"></i> Freelancedance</a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <% if current_user.present? %>
        <!-- begin header navigation right -->
        <div class="nav navbar-nav navbar-right">

          <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <span class="hidden-xs">My Account</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="arrow"></li>
              <li><a href="/users/edit">Settings</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %> Log Out <% end %>
                </li>
            </ul>
          </li>
        </div>
        <!-- end header navigation right -->
        <% end %>
        
      </div>
      <!-- end container-fluid -->
    </div>




<div class="container">
<div class="row"><div class="col-md-12">
<br><br><br><br>
<%= render 'layouts/alert' %>
<%= yield %>
</div></div>
</div>



</body>
</html>
